.background {
    background-color: #121212;
    color: white;
}

.bg-hr {
    background-color: white;
}

.cursosContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.card {
    display: flex;
    justify-content: space-between;
    width: 100%
}

/* .loginForm {
    display:flex;
    align-items: column;
} */