@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #121212;
    color: white;
}

.bg-hr {
    background-color: white;
}

.cursosContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.card {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 100%
}

.cursosForm {
    width: 50%;
    margin-left:17rem;
    margin-right: 17rem;
    display:flex;
    align-items: center;
    justify-content: center;

}

.btnMargin {
    margin-top: 3rem;
}